{% extends 'base.html' %}


{% block title %} Group 2 {% endblock %} 



{% block body %}

<div class="container">
  <h3 id="temp">Temperature</h3>
  <div class="box-1">
      ----
  </div>
  <h3>Salinity</h3>
  <div class="box-2">
      ----
  </div>
  <h3>Oxygen</h3>
  <div class="box-3">
      ----
  </div>
  <h3>pH</h3>
  <div class="box-4">
      ----
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    display: flex;
    align-items: center;
    justify-content: center;


    font-family: "Poppins", sans-serif;

    margin: 0;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    min-height: 500px;
    min-width: 500px;
    max-width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.2);

    background-color: rgba(255, 255, 255, 0.678);


    position: absolute;
}

.container > div {
    border: 1px solid rgb(143, 138, 138);
    border-radius: 20px;

    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    margin: 0 12rem;
    position: relative;
    
    min-height: 1rem;
    min-width: 8rem;
}

.box-4 {
    margin-bottom: 3rem;
}

.container > h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#temp {
    margin-top: 3rem;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: rgb(0, 153, 255);
    color: white;
    text-align: center;
    animation-name: slideUp;
    animation-duration: 1s;
    }

@keyframes slideUp {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}
</style>


{% endblock %}